In [93]:
import numpy as np
import pandas as pd

%config InlineBackend.figure_format = 'retina'

In [94]:
df = pd.read_csv("cereal.csv")

In [95]:
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

### Q1: What are the 5 cereals with the least amount of calories per volume? (Use cups for volume)

In [96]:
df["calories_per_cup"] = df["calories"]/df["cups"]

In [141]:
df2 = df[["name", "calories_per_cup"]].sort_values(by="calories_per_cup")
df2[:5]

              name  calories_per_cup
54     Puffed Rice         50.000000
55    Puffed Wheat         50.000000
40             Kix         73.333333
63  Shredded Wheat         80.000000
37      Honey-comb         82.706767

### Q2: What is the manufacturer that has the highest average ratings?

In [99]:
df2 = df[["mfr", "rating"]].groupby("mfr").mean()
df2.sort_values(by="rating", ascending=False)

        rating
mfr
N    67.968567
A    54.850917
K    44.038462
Q    42.915990
P    41.705744
R    41.542997
G    34.485852

In [109]:
df2.sort_values(by="rating", ascending=False).index[0]

'N'

### Q3: Carbohydrates, sugars and Potassium have some negative values. Replace negative values with the mean for the column. Provide a table with mean values for "carbo","sugars" and "potass".

In [113]:
df3 = df[["carbo","sugars","potass"]].copy()

In [119]:
df3[df3["carbo"] > 0].carbo.mean()

14.802631578947368

In [120]:
df3["carbo"].mean()

14.597402597402597

In [111]:
for col in ["carbo","sugars","potass"]:
    m = df3[col].mean()
    df3[col] = df3[col].apply(lambda x: m if x < 0 else x)

In [142]:
# better version as pointed out by Nicolas
for col in ["carbo","sugars","potass"]:
    m = df3[df3[col] > 0].carbo.mean()
    df3[col] = df3[col].apply(lambda x: m if x < 0 else x)

In [144]:
df3.mean()

carbo     14.802632
sugars     7.127307
potass    96.488380
dtype: float64

In [124]:
# extra: what is the column with the highest mean; return the mean
m = df3.mean()
m['potass']

96.48838004101162

### Q4: How many manufacturers have cold products? How many have hot products?

In [125]:
cold = df[df.type == "C"].mfr
cold.unique().shape

(6,)

In [127]:
cold.unique()

array(['N', 'Q', 'K', 'R', 'G', 'P'], dtype=object)

In [126]:
hot = df[df.type == "H"].mfr
hot.unique().shape

(3,)

In [128]:
hot.unique()

array(['N', 'A', 'Q'], dtype=object)

### Q5: What is the most common weight per serving?

In [55]:
df.weight.value_counts()

1.00    64
1.33     5
0.50     2
1.50     2
1.25     2
1.30     1
0.83     1
Name: weight, dtype: int64

In [130]:
df.weight.value_counts().index[0]

1.0

In [153]:
df.weight.value_counts().iloc[0]

64

### Q6: What are the two numerical variables with the highest correlation (in absolute value)?

In [145]:
corr = df.corr()
corr

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,calories_per_cup
calories,1.000000,0.019066,0.498610,0.300649,-0.293413,0.250681,0.562340,-0.066609,0.265356,0.097234,0.696091,0.087200,-0.689376,0.337821
protein,0.019066,1.000000,0.208431,-0.054674,0.500330,-0.130864,-0.329142,0.549407,0.007335,0.133865,0.216158,-0.244469,0.470618,0.220932
fat,0.498610,0.208431,1.000000,-0.005407,0.016719,-0.318043,0.270819,0.193279,-0.031156,0.263691,0.214625,-0.175892,-0.409284,0.334962
sodium,0.300649,-0.054674,-0.005407,1.000000,-0.070675,0.355983,0.101451,-0.032603,0.361477,-0.069719,0.308576,0.119665,-0.401295,0.031868
fiber,-0.293413,0.500330,0.016719,-0.070675,1.000000,-0.356083,-0.141205,0.903374,-0.032243,0.297539,0.247226,-0.513061,0.584160,0.256096
carbo,0.250681,-0.130864,-0.318043,0.355983,-0.356083,1.000000,-0.331665,-0.349685,0.258148,-0.101790,0.135136,0.363932,0.052055,-0.137202
sugars,0.562340,-0.329142,0.270819,0.101451,-0.141205,-0.331665,1.000000,0.021696,0.125137,0.100438,0.450648,-0.032358,-0.759675,0.161480
potass,-0.066609,0.549407,0.193279,-0.032603,0.903374,-0.349685,0.021696,1.000000,0.020699,0.360663,0.416303,-0.495195,0.380165,0.318346
vitamins,0.265356,0.007335,-0.031156,0.361477,-0.032243,0.258148,0.125137,0.020699,1.000000,0.299262,0.320324,0.128405,-0.240544,-0.003091
shelf,0.097234,0.133865,0.263691,-0.069719,0.297539,-0.101790,0.100438,0.360663,0.299262,1.000000,0.190762,-0.335269,0.025159,0.358350
weight,0.696091,0.216158,0.214625,0.308576,0.247226,0.135136,0.450648,0.416303,0.320324,0.190762,1.000000,-0.199583,-0.298124,0.379858
cups,0.087200,-0.244469,-0.175892,0.119665,-0.513061,0.363932,-0.032358,-0.495195,0.128405,-0.335269,-0.199583,1.000000,-0.203160,-0.788987
rating,-0.689376,0.470618,-0.409284,-0.401295,0.584160,0.052055,-0.759675,0.380165,-0.240544,0.025159,-0.298124,-0.203160,1.000000,-0.086698
calories_per_cup,0.337821,0.220932,0.334962,0.031868,0.256096,-0.137202,0.161480,0.318346,-0.003091,0.358350,0.379858,-0.788987,-0.086698,1.000000

In [146]:
c = corr.abs().unstack()
c

calories          calories            1.000000
                  protein             0.019066
                  fat                 0.498610
                  sodium              0.300649
                  fiber               0.293413
                                        ...
calories_per_cup  shelf               0.358350
                  weight              0.379858
                  cups                0.788987
                  rating              0.086698
                  calories_per_cup    1.000000
Length: 196, dtype: float64

In [148]:
df_c = pd.DataFrame(c).reset_index()
df_c

              level_0           level_1         0
0            calories          calories  1.000000
1            calories           protein  0.019066
2            calories               fat  0.498610
3            calories            sodium  0.300649
4            calories             fiber  0.293413
..                ...               ...       ...
191  calories_per_cup             shelf  0.358350
192  calories_per_cup            weight  0.379858
193  calories_per_cup              cups  0.788987
194  calories_per_cup            rating  0.086698
195  calories_per_cup  calories_per_cup  1.000000

[196 rows x 3 columns]

In [150]:
df_c = df_c.rename(columns= {0: "corr"})
df_c

              level_0           level_1      corr
0            calories          calories  1.000000
1            calories           protein  0.019066
2            calories               fat  0.498610
3            calories            sodium  0.300649
4            calories             fiber  0.293413
..                ...               ...       ...
191  calories_per_cup             shelf  0.358350
192  calories_per_cup            weight  0.379858
193  calories_per_cup              cups  0.788987
194  calories_per_cup            rating  0.086698
195  calories_per_cup  calories_per_cup  1.000000

[196 rows x 3 columns]

In [151]:
df_c = df_c.sort_values(by="corr", ascending = False)
df_c

              level_0           level_1      corr
0            calories          calories  1.000000
15            protein           protein  1.000000
180            rating            rating  1.000000
165              cups              cups  1.000000
150            weight            weight  1.000000
..                ...               ...       ...
22            protein          vitamins  0.007335
44             sodium               fat  0.005407
31                fat            sodium  0.005407
190  calories_per_cup          vitamins  0.003091
125          vitamins  calories_per_cup  0.003091

[196 rows x 3 columns]

In [136]:
row = df_c[df_c["corr"] <1].iloc[0]
row

level_0      potass
level_1       fiber
corr       0.903374
Name: 102, dtype: object

In [152]:
row["level_0"], row["level_1"]

('potass', 'fiber')